name: SSL Sync
version: "0.1.1"
slug: ssl_sync
description: Hello World addon with config
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: application
boot: auto
options:
  username: "admin"
  password: ""
  interval: 60
  enabled: true
schema:
  username: str
  password: password
  interval: int
  enabled: bool
