name: SSL Sync
version: "0.3.1"
slug: ssl_sync
description: Hello World addon with config
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: application
boot: auto
options:
  ssh:
    host: "example.com"
    port: 22
    logins:
      username: homeassistant
      password: homeassistant
    remote_path: "/usr/syno/etc/certificate/system/default/"
  local_path: "/ssl"
  sync_interval: 1  
  plex:
    enabled: false
    ssl_name: "plex_certificate"
    password: ""
schema:
  ssh:
    host: str
    port: int
    logins:
      username: str
      password: password
    remote_path: str
  local_path: str
  sync_interval: int
  plex:
    enabled: bool
    ssl_name: str
    password: password
