name: SSL Sync
version: "0.3.6"
slug: ssl_sync
description: Hello World addon with config
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: application
boot: auto
options:
  ssh:
    host: "example.com"
    port: 22
    logins:
      username: homeassistant
      password: homeassistant
    path: "/usr/syno/etc/certificate/system/default/"
  copy:
    - name: "Example Copy"
      enabled: true
      ssl_name: "certificate"
      on_host: false
      # host_address: "example.com"
      # host_port: 0
      # host_username: ""
      # host_password: ""
      path: "/ssl"
      convert_to_PFX: false
      ssl_password: ""
  sync_interval: 1  # in days
schema:
  ssh:
    host: str
    port: int
    logins:
      username: str
      password: password
    path: str
  copy:
    - name: str
      enabled: bool
      ssl_name: str 
      on_host: bool
      # host_address:
      #   type: str?
      #   # show_if:
      #   #   on_host: true
      # host_port:
      #   type: int?
      #   minimum: 1
      #   maximum: 65535
      #   # show_if:
      #   #   on_host: true
      # host_username: 
      #   type: str?
      #   # show_if:
      #   #   on_host: true
      # host_password: 
      #   type: password?
      #   # show_if:
      #   #   on_host: true
      path: str
      convert_to_PFX: bool?
      ssl_password: password?
  sync_interval: int
