name: SSL Sync
version: "0.3.2"
slug: ssl_sync
description: Hello World addon with config
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: application
boot: auto
options:
  ssh:
    host: "example.com"
    port: 22
    logins:
      username: homeassistant
      password: homeassistant
    path: "/usr/syno/etc/certificate/system/default/"
  copy:
    - name: "certificate"
      enabled: false
      host: ""
      port: 0
      logins:
        username: 
        password: 
      path: "/ssl"
      convert_to_PFX: false
      password: ""
  sync_interval: 1  # in days
schema:
  ssh:
    host: str
    port: int
    logins:
      username: str
      password: password
    path: str
  copy:
    - name: str
      enabled: bool
      host: str
      port: int
      logins:
        username: str
        password: password
      path: str
      convert_to_PFX: bool
      password: password
  sync_interval: int
