name: SSL Sync
version: "0.3.0"
slug: ssl_sync
description: Hello World addon with config
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: application
boot: auto
options:
  databases:
    - homeassistant
  logins:
    - username: homeassistant
      password: homeassistant
  rights:
    - database: homeassistant
      username: homeassistant
schema:
  databases:
    - str
  logins:
    - username: str
      password: password
  rights:
    - database: str
      username: str
