name: SSL Sync
version: "0.5.6"
slug: ssl_sync
description: Hello World addon with config
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: application
boot: auto
init: false
options:
  ssh_host: "example.com"
  ssh_port: 22
  ssh_logins:
    username: homeassistant
    password: homeassistant
  ssh_path: "/usr/syno/etc/certificate/system/default/"
  ssl_privkey_name: "privkey.pem"
  ssl_cert_name: "cert.pem"
  copy:
    - name: "Example Copy"
      host_address: "example.com"
      host_port: 0
      host_username: ""
      host_password: ""
      path: "/ssl"
      convert_to_PFX: false
      ssl_name: "certificate"
      ssl_password: ""
  sync_interval: 1  # in days
schema:
  ssh_host: str
  ssh_port: int
  ssh_logins:
    username: str
    password: password
  ssh_path: str
  ssl_privkey_name: str
  ssl_cert_name: str
  copy:
    - name: str
      host_address: str?
      host_port: int?
      host_username: str?
      host_password: password?
      path: str
      convert_to_PFX: bool?
      ssl_name: str?
      ssl_password: password?
  sync_interval: int
