name: SSL Sync
version: "0.3.4"
slug: ssl_sync
description: Hello World addon with config
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: application
boot: auto
options:
  ssh:
    host: "example.com"
    port: 22
    logins:
      username: homeassistant
      password: homeassistant
    path: "/usr/syno/etc/certificate/system/default/"
  copy:
    - name: "Example Copy"
      host_address: "example.com"
      host_port: 0
      host_username: ""
      host_password: ""
      ssl_name: "certificate"
      enabled: true
      path: "/ssl"
      convert_to_PFX: false
      ssl_password: ""
  sync_interval: 1  # in days
schema:
  ssh:
    host: str
    port: int
    logins:
      username: str
      password: password
    path: str
  copy:
    - name: str
      host_address: str
      host_port: int
      host_username: str
      host_password: password
      ssl_name: str
      enabled?: bool
      path: str
      convert_to_PFX?: bool
      ssl_password?: password
  sync_interval: int
